@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}



.main-info {
    padding-left: 145px;
    padding-right: 145px;
}
.global-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #F3F3F3;
}  
.global-info_left{
    display: flex;
    flex-direction: row;
    padding: 9px;
    
}
.global-info_left div:nth-child(1){
    margin-right: 50px;
}
.global-info_right{
    display: flex;
    flex-direction: row;
    padding: 9px;
    gap: 32px;
    
}
.global-info_right_coin{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.arrow {
    width: 9px;
    height: 7px;

    
    
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente */
    align-items: center; /* Centraliza a logo verticalmente */
    width: 183px;
    height: 46px;
}

.main-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding-top: 20px;
    
}

.search-container {
    display: flex;
    align-items: center; /* Alinha o texto e o ícone verticalmente */
    gap: 8px; /* Espaçamento entre o ícone e o texto */
}

.search-icon {
    width: 24px; /* Ajuste o tamanho do ícone */
    height: 24px;
}

.search-info {
    font-size: 16px;

}

.header-icons {
    display: flex;
    align-items: center;
    gap: 12px; /* Espaçamento entre os ícones */
    width: 18px;
    height: 18px; /* Ajuste o tamanho dos ícones */
    
}

.home-header {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    /* margin-right: 35px; */
    /* margin-top: 22px; */


}

.home-header img {
    width: 24px;
    height: 28px;
    margin-left: 8px;
    margin-right: 8px;
}
.topic-home-header{
    display: flex;
    justify-content: center;
    align-items: center;

}